/* Personalizando a barra de rolagem do Swiper */
.mySwiper .swiper-scrollbar {
  height: 5px;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 25%;
}

.mySwiper .swiper-scrollbar-drag {
  background: #000;
  height: 5px;
  width: 30px;
  border-radius: 10px;
}
.mySwiper .swiper-button-next {
  color: #000;
}
.mySwiper .swiper-button-prev {
  color: #000;
}
.swiper-slide .swiper-slide-next{
  background-color: red;
}
